body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 360px;
}
.menu {
  font-size: 1.2rem;
  margin: 2rem;
  margin-top: 4rem;
}
.link {
  text-decoration: none;
  color: #777;
}
.menu-item {
  margin-right: 1rem;
}
.current {
  color: #10b2d8;
}
.mini-nav {
  background-color: #444;
  height: 2rem;
  width: 100%;
  padding: 0.4rem 0;
}
.link-mini {
  color: #eee;
  font-size: 1.1rem;
  float: right;
  margin-right: 4rem;
  text-decoration: none;
}
.image-section {
  width: 100%;
  margin: 0;
}
.main {
  background-color: #36afe6;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.subtitle {
  font-size: 1.3rem;
  color: #eee;
  display: inline;
}
.sub-span {
  color: #eee;
  font-size: 2rem;
  line-height: 4rem;
}
